/* ./styles.css */

@font-face {
    font-family: Tinos;
    font-weight: 400;
    font-style: normal;
    src:    local(Tinos), 
            url("../../assets/fonts/GoogleFonts/Tinos/Tinos-Bold.ttf") format('truetype'),
     
            url("../../assets/fonts/GoogleFonts/Tinos/Tinos-BoldItalic.ttf") format('truetype'),
     
            url("../../assets/fonts/GoogleFonts/Tinos/Tinos-Italic.ttf") format('truetype'), 
            
            url("../../assets/fonts/GoogleFonts/Tinos/Tinos-Regular.ttf") format('truetype');
}

html, body {
    height: 100%;
    font-size: 16px;
}

body{
    /* background-color: rgb(234, 241, 102); */
    text-align: center;
    margin: 0 auto;
    font-family: "Tinos";
    font-weight: 400;
    font-style: normal;
    display: flex; /* displays flex-items (children) inline */
    flex-direction: column; /* stacks them vertically */
    height: 100%; /* needs to take the parents height, alternative: body {display: flex} */
}

#mobileHeader {
    background-color: #dcdcdc;
}

#desktopHeader {
    display: none;
}

#mobileHeaderDiv {
    display: flex;
}

.mobileHeaderButtons{
    /* background-color:lightcoral; */
    font-size: 28px;
}

#headerButtonLeft {
    flex-grow: 15;
}

#headerButtonRight {
    flex-grow: 1;
}

#desktopHeader .desktopHeaderButtons:first-child {
    flex-grow: 5;
}

.desktopHeaderButtons:first-child {
    font-size: 1.75rem;
}

/* establishing font sizes below */
.mobile_header_button, nav button {
    font-size: 28px;
}

h1 {
    font-size: 28px;
}

h2 {
    font-size: 24px;
}

h3 {
    font-size: 19px;
    /* border: thin solid black; */
}

p {
    font-size: 16px;
    /* border: thin solid black; */
}
/* establishing font sizes above */

p , ul{
    text-align: left;
}

hr {
    border-top: 1px solid #dcdcdc;
}

#content {
    /* background-color: bisque; */
    width: 97%;
    margin: 0 auto;
    flex: 1; /* takes the remaining height of the "container" div */
    overflow: auto; /* to scroll just the "main" div */
}

#menu {
    /* background-color: bisque; */
}

.menu_button{
    display: block;
    width: 100%;
    font-size: 22px;
    padding: .25em 0;
}

section {
    /* background-color: lightblue; */
}

/* TODO: style the .section_button with .section_button:focus, .section_button:active, .section_button:hover, .section_button:visited, and ??? */
.section_button {
    border-radius: .20em;
    border-width: thin;
}

#Bio {
    width: 90%;
    margin: 0 auto;
}

/* TODO: style the .styled_links with .styled_links:focus, .styled_links:active, .styled_links:hover, .styled_links:visited, and ??? */
#textLink {
    color: #4d4c4c;
}

#card_container {
    /* border: 0.1em blue solid; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

/* TODO: the cards are not distrubted the way I'd like them to be. Specifically, there are three cards in the first row and one card in the second row.  */
/* To address this I've added "margin: 2em 3em;" below. But I don't think this is teh correct approach. I think it needs to be addressed in the #card_container above. */
.card {
    border: thin solid #dcdcdc;
    display: flex;
    flex-direction: column;
    max-height: 30em;
    min-height: 15em;
    margin: 0.3em;
    width: 20em;
    margin: 2em 3em;
    border-radius: 0.5em;
}

.card_div {
    /* padding: 0 .5em .5em .5em; */
    /* border: 0.1em yellowgreen solid; */
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: space-between;
    max-width: 90%;
    margin: 0 auto 1em auto;
}

/* TODO: style the .github_repo with .github_repo:focus, .github_repo:active, .github_repo:hover, .github_repo:visited, and ??? */
.github_repo {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #dcdcdc;
    border-radius: 0 0 .5em .5em;
    text-decoration: none;
    text-transform: uppercase;
    height: 2em;
    color: #4d4c4c;
  }
  
.github_repo:hover {
/* background-color: #555; */
background-color: #9f9d9d;
}

.github_repo:active {
background-color: black;
}

.github_repo:visited {
background-color: #ccc;
}

#ConnectWithMe{
    /* padding-bottom: 25px; */
    /* margin-bottom: 25px; */
}

#connect_container {
    /* background-color: lightsalmon; */
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

/* TODO: style the .fontAwesome with .fontAwesome:focus, .fontAwesome:active, .fontAwesome:hover, .fontAwesome:visited, and ??? */
.fontAwesome{
    /* background-color: lightsalmon; */
    border: thin solid black;
    border-radius: .12em;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3em;

    /* Former styles for the images */
    max-width: 6em;
    /* min-width: 4em; */
    padding: 1em;
    margin: .25em;
}

footer {
    background-color: #dcdcdc;
    padding: .12em 0;
}


/* Breakpoint for laptops */
@media (min-width: 64em) {


    body{
        /* background-color: rgb(234, 241, 102); */
    }

    #mobileHeader {
        display: none;
    }

    #desktopHeader {
        /* background-color: aqua; */
        display: flex;
        justify-content: space-between;
        background-color: #dcdcdc;
    }

    #Bio {
        /* border: 0.1em blue solid; */
        max-width: 60em;
        margin: auto;
    }

    .fontAwesome {
        border:none;
        font-size: 4em;
        padding: 0;
    }
}