/* ./styles.css */

/* *** Default breakpoint. For mobile vertical *** */

/* Declaring colors for the entire project. */
:root {
  /* --base: NO BACKGROUND COLOR IS ADDED TO THE BODY */
  --accent-background: #dcdcdc;
  --accent-color: #3E3D3D;

  --button01-background: var(--accent-background);
  --button01-color: var(--accent-color);
  --button02-background: var(--accent-color);
  --button02-color: var(--accent-background);

  --header: var(--accent-background);
  --footer: var(--accent-background);
  --github-background: var(--button01-background);
  --github-color: var(--button01-color);
  --live-site-background: var(--button02-background);
  --live-site-color: var(--button02-color);
  /* --link-background: NOT USED YET ; */
  /* --link-color: NOT USED YET ; */
  --visited-background: #54474771;
  --visited-color: hotpink;
  --focus-background: #817a7a;
  --focus-color: #ffffff;
  --hover-background: #B29090;
  --hover-color: #000000;
  --active-background: #ee3737;
  /* --active-color: NOT USED YET ; */
}

@font-face {
  font-family: Tinos;
  font-weight: 400;
  font-style: normal;
  src: local(Tinos),
    url("../assets/fonts/GoogleFonts/Tinos/Tinos-Bold.ttf") format("truetype"),
    url("../assets/fonts/GoogleFonts/Tinos/Tinos-BoldItalic.ttf")
      format("truetype"),
    url("../assets/fonts/GoogleFonts/Tinos/Tinos-Italic.ttf") format("truetype"),
    url("../assets/fonts/GoogleFonts/Tinos/Tinos-Regular.ttf")
      format("truetype");
}

html, body {
  height: 100%;
  font-size: 16px;
}

body {
  /* background-color: rgb(234, 241, 102); */
  text-align: center;
  margin: 0 auto;
  font-family: "Tinos";
  font-weight: 400;
  font-style: normal;
  display: flex; /* displays flex-items (children) inline */
  flex-direction: column; /* stacks them vertically */
  height: 100%; /* needs to take the parents height, alternative: body {display: flex} */
}

#mobileHeader {
  /* background-color: #dcdcdc; */
  background-color: var(--header);
}

#desktopHeader {display: none;}

#mobileHeaderDiv {display: flex;}

.mobileHeaderButtons {
  /* background-color:lightcoral; */
  font-size: 28px;
}

/* TODO: Evaluate whether these two #headerButtonCenter rules ~~should~~ can be deleted. If not, diminish the integer as much as possible. */
#headerButtonCenter {flex-grow: 15;}

#headerButtonRight {flex-grow: 1;}

/* establishing font sizes below */
.mobile_header_button, #menu button {font-size: 28px;}

h1 {font-size: 28px;}

h2 {font-size: 24px;}

h3 {
  font-size: 19px;
  /* border: thin solid black; */
}

p {
  font-size: 16px;
  /* border: thin solid black; */
}
/* establishing font sizes above */

p, ul {text-align: left;}

hr {
  /* border-top: 1px solid #dcdcdc; */
  border-top: 1px solid var(--accent-background);
}

main {
  /* background-color: bisque; */
  width: 97%;
  margin: 0 auto;
  flex: 1; /* takes the remaining height of the "container" div */
  overflow: auto; /* to scroll just the "main" div */
}

#menu {
  /* background-color: bisque; */
}

#blogButton {display: none;}

.menu_button {
  display: block;
  width: 100%;
  font-size: 22px;
  padding: 0.25em 0;
}

section {
  /* background-color: lightblue; */
  width: 90%;
  margin: 0 auto;
}

.section_a {text-decoration: none;}

.section_button {
  border-radius: 0.2em;
  border-width: thin;
}

/* #bio, #blog {
  width: 90%;
  margin: 0 auto;
} */

#card_container {
  /* border: 0.1em blue solid; */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  /* justify-content: space-between; */
}

/* TODO: the cards are not distributed the way I'd like them to be. Specifically, there are three cards in the first row and one card in the second row.  */
/* To address this I've added "margin: 2em 3em;" below. But I don't think this is teh correct approach. I think it needs to be addressed in the #card_container above. */
.card {
  /* border: thin solid #dcdcdc; */
  border: thin solid var(--accent-background);
  display: flex;
  flex-direction: column;
  max-height: 30em;
  min-height: 15em;
  width: 20em;
  margin: 2em 3em;
  /* margin: 2em 0; */
  border-radius: 0.5em;
}

.card_div {
  /* padding: 0 .5em .5em .5em; */
  /* border: 0.1em yellowgreen solid; */
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: space-between;
  max-width: 90%;
  margin: 0 auto 1em auto;
}

.anchor_div {
  /* background-color:#4d4c4c;  */
  display: flex;
}

.github_repo {
  display: flex;
  justify-content: center;
  align-items: center;
   /* background-color: #dcdcdc; */
  background-color: var(--github-background);
  border-radius: 0 0 0 0.5em;
  /* border: thin solid var(--accent-background); */
  text-decoration: none;
  text-transform: uppercase;
  height: 2em;
  /* color: #4d4c4c; */
  color: var(--github-color);
  width: 50%;
}

.live_site {
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: #4d4c4c; */
  background-color: var(--live-site-background);
  border-radius: 0 0 0.5em 0;
  /* border: thin solid var(--accent-background); */
  text-decoration: none;
  text-transform: uppercase;
  /* color: #dcdcdc; */
  color: var(--live-site-color);
  width: 50%;
}

#connectWithMe {padding-bottom: 1.25em;}

#connect_container {
  /* background-color: lightsalmon; */
  display: flex;
  /* justify-content: space-around; */
  justify-content:space-between;
  flex-wrap: wrap;
}

.fontAwesome {
  /* background-color: lightsalmon; */
  border: thin solid black;
  border-radius: 0.12em;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3em;

  /* Former styles for the images */
  max-width: 6em;
  /* min-width: 4em; */
  padding: 1em;
  margin: 0.25em;
}

footer {
   /* background-color: #dcdcdc; */
  background-color: var(--footer);
  padding: 0.12em 0;
}

/* *** Breakpoint for mobile horizontal *** */

/* *** Breakpoint for tablets vertical *** */
/* @media (min-width: ??em) {body {background-color: lightblue}} */

/* *** Breakpoint for tablets horizontal *** */
/* @media (min-width: ??em) {body {background-color: green}} */

/* *** Breakpoint for laptops *** */
@media (min-width: 64em) {
  /* body {background-color: blue} */

  #mobileHeader {display: none;}

  #desktopHeader {
    /* background-color: aqua; */
    display: flex;
    justify-content: space-between;
     /* background-color: #dcdcdc; */
    background-color: var(--header);
  }
  
  .desktopHeaderChildren:nth-child(1) {
    /* background-color: goldenrod; */
    font-size: 19px;
    min-width: 4.45em;
  }

  .desktopHeaderChildren:nth-child(2) {
    /* background-color: blueviolet; */
    /* TODO: Adjust this flex-grow to be as low as possible. */
    flex-grow: 8;
    font-size: 28px;
  }

  .desktopHeaderChildren:nth-child(3) {
    /* background-color: greenyellow; */
    /* TODO: Assess whether this flex-grow can be deleted. */
    /* flex-grow: 1; */
    display: flex;
  }

  .desktop_nav_button {font-size: 19px;}

  .desktop_nav_button:nth-child(2) {min-width: 5.25em;}

  .desktop_nav_button:nth-child(4) {min-width: 8.5em;}

  /* Accessability for links */
  /* :link — :visited — :hover — :active.  */
  /* TODO: check the order of the anchor pseudo classes below. Is it correct? */
  /* TODO: Choose colors that contrast for the anchor pseudo classes below. Are they sufficient for accessability purposes? */

  /* TODO: For accessability purposes, determine whether I should use the :link pseudo-class. I currently am choosing NOT to use it. */
  /* a {
    background-color:#ffffff;   
   } */

  a:link {
    /* background-color: var(--link-background); */
    /* color: var(--link-color); */
    border: 1px solid white;
  }

  a:visited {
    background-color: var(--visited-background);
    color: var(--visited-color);
    /* border-radius:green; */
    border-color: hotpink;

  }

  a:focus {
    background-color: var(--focus-background);
    color: var(--focus-color);
  }

  a:hover {
    background-color: var(--hover-background);
    color: var(--hover-color);
  }

  a:active {
    background-color: var(--active-background);
    color: var(--active-color);
  }

  /* Accessability for buttons */
  /* :hover, :active, and :focus user actions and the :visited */
  /* TODO: Check the order of the button pseudo classes below. Is it correct? */
  /* TODO: Check the button pseudo classes below. Am I forgetting any? */
  /* TODO: Choose colors that contrast for the button pseudo classes below. Are they sufficient for accessability purposes? */

  /* TODO: This "button:visited" rule with the border property doesn't work. 
  However when both the live site and github repo have been visited, the two buttons appears as one.
  A border is needed between them.
  See "border: thin solid var(--accent-background);" in the ".github_repo" and ".live_site" rules above.
  Or different colors.  */
  /* button:visited {
    border: thin solid var(--accent-background);
  } */
  
  button:focus {
    /* background-color: #7B0911; */
    background-color: var(--focus-background);
    color: var(--focus-color);
  }

  button:hover {
    /* background-color: #8B0D17; */
    background-color: var(--hover-background);
    color: var(--hover-color);    
  }

  button:active {
    /* background-color: #ee3737; */
    background-color: var(--active-background);
    color: var(--active-color);
  }

  /* #bio {
   
    max-width: 60em;
    margin: auto;
  } */

  .fontAwesome {
    border: none;
    font-size: 4em;
    padding: 0;
  }

  #card_container {
    /* border: 0.1em blue solid; */
    /* display: flex; */
    /* flex-wrap: wrap; */
    /* justify-content: space-around; */
    justify-content: space-between;
  }

  .card {margin: 2em 0;}
}
