/* ./styles.css */

/* *** Default breakpoint. For mobile vertical *** */

/* Declaring colors for the entire project. */
  /* TODO: Choose colors that contrast for the button pseudo classes below. Are they sufficient for accessability purposes? */
:root {
  --accent01: #dcdcdc;
  --accent02: #3E3D3D;
  /* --accent02_alternative: #; */
  --accent03: #a9a9a9;
  --accent04: #ffffff;
  --visited: #5f9ea0; /* D2E5E5 works with 3e3d3d but not dcdcdc */ /*294747 works with dcdcdc but not 3e3d3d */
  --visited01: #D2E5E5;
  --visited02: #2A4646;
  --active: #ff4500;
}

@font-face {
  font-family: Tinos;
  font-weight: 400;
  font-style: normal;
  src: local(Tinos),
    url("../assets/fonts/GoogleFonts/Tinos/Tinos-Bold.ttf") format("truetype"),
    url("../assets/fonts/GoogleFonts/Tinos/Tinos-BoldItalic.ttf")
      format("truetype"),
    url("../assets/fonts/GoogleFonts/Tinos/Tinos-Italic.ttf") format("truetype"),
    url("../assets/fonts/GoogleFonts/Tinos/Tinos-Regular.ttf")
      format("truetype");
}

html, body {
  height: 100%;
  font-size: 16px;
}

body {
  /* background-color: rgb(234, 241, 102); */
  text-align: center;
  margin: 0 auto;
  font-family: "Tinos";
  font-weight: 400;
  font-style: normal;
  display: flex; /* displays flex-items (children) inline */
  flex-direction: column; /* stacks them vertically */
  height: 100%; /* needs to take the parents height, alternative: body {display: flex} */
}

#mobileHeader {
  background-color: var(--accent01);
  color: var(--accent02);
}

#desktopHeader {display: none;}

#mobileHeaderDiv {display: flex;}

.mobileHeaderButtons {
  /* background-color:lightcoral; */
  font-size: 28px;
}

/* TODO:  Evaluate whether these two #headerButtonCenter rules ~~should~~ can be deleted. 
          If not, diminish the integer as much as possible. */
#headerButtonCenter {flex-grow: 15;}

#headerButtonRight {flex-grow: 1;}

/* ***************************** */
/* establishing font sizes below */
.mobile_header_button, #menu button {font-size: 28px;}

h1 {font-size: 28px;}

h2 {font-size: 24px;}

h3 {
  font-size: 19px;
  /* border: thin solid black; */
}

p {
  font-size: 16px;
  /* border: thin solid black; */
}
/* establishing font sizes above */
/* ***************************** */

p, ul {text-align: left;}

hr {
  /* border-top: 1px solid #dcdcdc; */
  border-top: 1px solid var(--accent01);
}

main {
  /* background-color: bisque; */
  width: 97%;
  margin: 0 auto;
  flex: 1; /* takes the remaining height of the "container" div */
  overflow: auto; /* to scroll just the "main" div */
}

#menu {
  /* background-color: bisque; */
}

#blogButton {display: none;}

.menu_button {
  display: block;
  width: 100%;
  font-size: 22px;
  padding: 0.25em 0;
}

section {
  /* background-color: lightblue; */
  width: 90%;
  margin: 0 auto;
}

.section_a {
  text-decoration: none; 
  /* min-width: 64px; TODO: Include a min-width for the anchor tags in the "Connect with me" section. this is not necessary. but while tabbing through the page I noticed that the Stack Overflow icon was noticeably more narrow than the rest. 64 px is the widest of the four icons. NOTE: Consider using EM instead of PX. And make sure it doesn't break the mobile version. */
}

.section_button {
  border-radius: 0.2em;
  border-width: thin;
}

/* #bio, #blog {
  width: 90%;
  margin: 0 auto;
} */

#card_container {
  /* border: 0.1em blue solid; */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  /* justify-content: space-between; */
}

/* TODO: the cards are not distributed the way I'd like them to be. Specifically, there are three cards in the first row and one card in the second row.  */
/* To address this I've added "margin: 2em 3em;" below. But I don't think this is teh correct approach. I think it needs to be addressed in the #card_container above. */
.card {
  /* border: thin solid #dcdcdc; */
  border: thin solid var(--accent01);
  display: flex;
  flex-direction: column;
  max-height: 30em;
  min-height: 15em;
  width: 20em;
  margin: 2em 3em;
  /* margin: 2em 0; */
  border-radius: 0.5em;
}

.card_div {
  /* padding: 0 .5em .5em .5em; */
  /* border: 0.1em yellowgreen solid; */
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: space-between;
  max-width: 90%;
  margin: 0 auto 1em auto;
}

.anchor_div {
  /* background-color:#4d4c4c;  */
  display: flex;
}

.github_repo {
  display: flex;
  justify-content: center;
  align-items: center;
   /* background-color: #dcdcdc; */
  background-color:  var(--accent01);
  border-radius: 0 0 0 0.5em;
  /* border: thin solid var(--accent01); */
  text-decoration: none;
  text-transform: uppercase;
  height: 2em;
  color: var(--accent02);
  width: 50%;
}

.live_site {
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: #4d4c4c; */
  background-color: var(--accent02);
  border-radius: 0 0 0.5em 0;
  /* border: thin solid var(--accent01); */
  text-decoration: none;
  text-transform: uppercase;
  color: var(--accent01);
  width: 50%;
}

#connectWithMe {padding-bottom: 1.25em;}

#connect_container {
  /* background-color: lightsalmon; */
  display: flex;
  /* justify-content: space-around; */
  justify-content:space-between;
  flex-wrap: wrap;
}

.fontAwesome {
  /* background-color: lightsalmon; */
  border: thin solid black;
  border-radius: 0.12em;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3em;

  /* Former styles for the images */
  max-width: 6em;
  /* min-width: 4em; */
  padding: 1em;
  margin: 0.25em;
}

footer {
  background-color: var(--accent01);
  color: var(--accent02);
  padding: 0.12em 0;
}

/* *** Breakpoint for mobile horizontal *** */

/* *** Breakpoint for tablets vertical *** */
/* @media (min-width: ??em) {body {background-color: lightblue}} */

/* *** Breakpoint for tablets horizontal *** */
/* @media (min-width: ??em) {body {background-color: lightgreen}} */

/* *** Breakpoint for laptops *** */
@media (min-width: 64em) {
  /* body {background-color: blue} */

  #mobileHeader {display: none;}

  #desktopHeader {
    display: flex;
    justify-content: space-between;
    background-color: var(--accent01);
    color: var(--accent02);
  }
  
  .desktopHeaderChildren:nth-child(1) {
    /* background-color: goldenrod; */
    font-size: 19px;
    min-width: 4.45em;
  }

  .desktopHeaderChildren:nth-child(2) {
    /* background-color: blueviolet; */
    /* TODO: Adjust this flex-grow integer to be as low as possible. */
    flex-grow: 8;
    font-size: 28px;
  }

  .desktopHeaderChildren:nth-child(3) {
    /* background-color: greenyellow; */
    /* TODO: Assess whether this flex-grow can be deleted. */
    /* flex-grow: 1; */
    display: flex;
  }

  .desktop_nav_button {font-size: 19px;
  }

  .desktop_nav_button:nth-child(2) {min-width: 5.25em;}

  .desktop_nav_button:nth-child(4) {min-width: 8.5em;}

  /* Accessability for buttons */
  /* :hover, :active, and :focus user actions and the :visited */
  /* TODO: Check the order of the button pseudo classes below. Is it correct? */
  /* TODO: Check the button pseudo classes below. Am I forgetting any? */
  /* TODO: Choose colors that contrast for the button pseudo classes below. Are they sufficient for accessability purposes? */
  /* NOTE: Opting to use "button" selector over ".section_button" AND ".desktopHeaderButtons" selectors. */

  /* NOTE: Not currently using the :visited pseudo class for the buttons.
  /* button:visited {
    background-color: NOT USED YET;
    color:NOT USED YET;
    border: 3px solid NOT USED YET;
  } */

  button:focus {
    background-color: var(--accent03);
    color: var(--accent04);
    /* TODO: Consider replacing the default blue border with something different. */
    /* NOTE: when "outline:none;" is used in the ":focus" rule, for accessability purposes an alternative MUST be used. */
    /* outline:none; 
    border: .1em solid var(--accent02); */
  }

  button:hover {
    background-color: var(--accent03);
    color: var(--accent02);
  }

  button:active {
    background-color: var(--active);
    color: var(--accent04);
    
    /* NOTE: Consider this second option for active clicks. */
    /* background-color: var(--accent04);
    color: var(--accent02); */

    /* NOTE: Consider this third option for active clicks. */
    /* background-color: var(--accent02);
    color: var(--accent03); */
  }

  /* Accessability for links */
  /* :link — :visited — :hover — :active.  */
  /* TODO: Check the order of the anchor pseudo classes below. Is it correct? */
  /* TODO: Choose colors that contrast for the anchor pseudo classes below. Are they sufficient for accessability purposes? */

  /* NOTE: Not currently styling the default anchor(s).
  /* a {
    background-color:#ffffff;   
   } */

   /* Code The Dream anchor */


  /* TODO: For accessability purposes, determine whether I should use the :link pseudo-class. I currently am choosing NOT to use it. */
  /* #codeTheDream_a:link {
    background-color: NOT USED YET;
    color:NOT USED YET;
    border: 3px solid NOT USED YET;
  } */

  #codeTheDream_a:visited {
    /* background-color: NOT USED YET; */
    color:var(--visited);
    /* border: 3px solid NOT USED YET; */
  }

  #codeTheDream_a:focus {
    background-color:var(--accent03);
    color: var(--accent04);
    /* TODO: Consider replacing the default blue border with something different. */
    /* NOTE: when "outline:none;" is used in the ":focus" rule, for accessability purposes an alternative MUST be used. */
    /* outline:none; 
    border: thin solid var(--accent02); */
  }

  #codeTheDream_a:hover {
    background-color:var(--accent03);
    color: var(--accent02);
  }

  #codeTheDream_a:active {
    background-color: var(--active);
    color: var(--accent04);
    
    /* NOTE: Consider this second option for active clicks. */
    /* background-color: var(--accent04);
    color: var(--accent02); */
  }

  /* GitHub anchor */

  /* TODO: For accessability purposes, determine whether I should use the :link pseudo-class. I currently am choosing NOT to use it. */
 /* .github_repo:link {
  background-color: NOT USED YET;
  color:NOT USED YET;
  border: 3px solid NOT USED YET;
 } */

 .github_repo:visited {
  /* background-color: NOT USED YET; */
  color:var(--visited);
  /* border: 3px solid NOT USED YET; */
 }

 .github_repo:focus {
  background-color: var(--accent03);
  color: var(--accent04);
 }

 .github_repo:hover {
  background-color: var(--accent03);
  color: var(--accent02);
 }

 .github_repo:active {
  background-color: var(--active);
  color: var(--accent04);
    
  /* NOTE: Consider this second option for active clicks. */
  /* background-color: var(--accent04);
  color: var(--accent02); */
 }

 /* Live Site anchor */

  /* TODO: For accessability purposes, determine whether I should use the :link pseudo-class. I currently am choosing NOT to use it. */
 /* .live_site:link {
  background-color: NOT USED YET;
  color:NOT USED YET;
  border: 3px solid NOT USED YET;
} */

.live_site:visited {
  /* background-color: NOT USED YET; */
  color:var(--visited);
  /* border: 3px solid NOT USED YET; */
}

.live_site:focus {
    background-color: var(--accent03);
    color: var(--accent04);
}

.live_site:hover {
    background-color: var(--accent03);
    color: var(--accent02);
}

.live_site:active {
    background-color: var(--active);
    color: var(--accent04);
    
    /* NOTE: Consider this second option for active clicks. */
    /* background-color: var(--accent04);
    color: var(--accent02); */
}

  /* #bio {
   
    max-width: 60em;
    margin: auto;
  } */

  .fontAwesome {
    border: none;
    font-size: 4em;
    padding: 0;
  }

  #card_container {
    /* border: 0.1em blue solid; */
    /* display: flex; */
    /* flex-wrap: wrap; */
    /* justify-content: space-around; */
    justify-content: space-between;
  }

  .card {margin: 2em 0;}
}
