html *
{
   /* font-size: 1em !important; */
   /* color: #000 !important; */
   font-family: Garamond !important;
}

html, body {
    height: 100%;
    margin: 0;
}

h2{
    font-size: 1.75em;
}

.wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
}
#abc{
    background: lightskyblue;
    height: 80px;

}
#title {
    /* background: blueviolet; */
    text-align: center;
    font-size: 2.5em;
    /* height: 80px; */
}

#bio{
    /* text-align: center; */
}

.section_title {
    text-align: center;
}
#bio_section_div{
    background: silver;
    /* text-align: center; */
}

#copyright {
    /* border-top: 5px solid red; */
    /* background: silver; */
    font-size: 20px;
}

.footer {
    /* background: brown; */
    border-top: 1px solid red;
}

.header, .footer {
    /* background: silver; */
    /* font-size: 30px; */
}

#header-cont {
    border-bottom: 1px solid red;
    display: flex;
    justify-content: space-around;
}
#left,#right{
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#left{
    /* background:lightgreen; */
    
}

#right {
    /* background:lightgreen; */
    /* display: flex;
    justify-content: center;
    align-items: center; */
}
#connect_with_me{
    height: 300px;
}
.connect_with_me_button, .head_button{
    margin: 0 10px;
    background-color: transparent;
    border: none;
}
/* button {
    margin: 0 10px;
    background-color: transparent;
    border: none;
} */
.connect_with_me_icons{
    /* background-color: lightsalmon; */
    display: flex;
    justify-content: space-around;
    /* max-width: 100px;
    width: auto; */
}
.connect_with_me_button{
    /* background-color: lightblue; */
    width: 200px;
    height: 200px;
    /* max-width: 100px;
    width: auto; */
}

.connect_with_me_a{
    /* background-color: lightseagreen; */
    background: lightseagreen;
    width: 100px;
    height: 100px;
}
.connect_with_me_img{
    max-width: 50px;
    width: auto;
    /* max-width: 25px; */
    /* background-color: pink; */
}
/* img {
    max-width: 100px;
    /* max-width: 25px; */
    /*width: auto;
    background-color: pink;
} */
.head_a{
    text-decoration: none;
    font-size: 30px;
}
/* a {
    text-decoration: none;
} */

.content {
    flex: 1;
    overflow: auto;
    /* background: pink; */
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
}