/***************************************************************************/
/************          defaut styling for desktop               ************/
/***************************************************************************/

body{
    margin: 0em;
}

header, footer {
  background-image: url(attachments/pattern/5957908fe6d9740.jpg);
}

header {
  /* height: 10%; */
  /* padding-top: 2em; */
}

footer {
  /* height: 3em; */
}

section, header {
  padding: .001em;
  
}

#bio, #contact_info, .section_div {
  width: 90%;
  margin: auto;
}

h1 {
  /* font-size: 600%; */
}

h2 {
  /* font-size: 400%; */
}

.section_title {
  /* background-color: yellow; */
}

.section_title {
  text-decoration: underline;
}

.bio_p, .section_title, .continuing_education_p, h1, h2, footer {
  text-align: center;
}

.section_div {
  /* border: aqua 0.1em solid; */
  display: flex;
 flex-flow: row wrap;
 justify-content: space-around
  /* width: 10%; */
}

.contact_info_div, .projects_div, .continuing_education_btn_div {
  /* border: blue 0.3em solid; */
  /* max-width: 25%; */
  /* min-width: 20%; */
  height: 15em;
  /* width: auto; */
  /* margin: 1em; */
  display: flex;
  align-items: center;
  justify-content: center
}

.continuing_education_p {
  /* background-color: aqua; */
  padding: 0 .4em;
  margin: 0;
}

.contact_info_btn, .continuing_education_btn, .projects_btn {
  height: 92%;
  width: auto;
  /* height: auto; */
  /* width: 100%; */
}

.contact_info_img, .projects_img, .continuing_education_img {
  /* max-width: 30em; */
  
  height: 100%;
  width:auto;
  /* height: auto; */
  /* width: 100%; */
}

#bio_section, #projects_section,.projects_btn {
  /* background-color: salmon; */
  background-color: burlywood;
}

#contact_info_section, #continuing_education_section, .contact_info_btn, .continuing_education_btn {
  background-color: bisque;
}

button {
  border: none;
}

.phone_email_btn {
  background-color: rgb(173, 6, 6);
  border: black .1em solid;
  border-radius: .6em;
  /* margin: 0 3em; */
  padding: 2em;
}

.phone_email_anchor {
  font-size: 1.5em;
  /* width: 100%; */
  /* height: 100%; */
  /* margin: 4em 1em; */
  /* padding: 100%; */
  padding:1.5em;
}

a {
  /* pointer-events: none; */
  /* cursor: text; */
  /* text-decoration: none; */
} 

/* ===== ===== ===== */
/* unvisited link */
a:link {
 color: blue;
}

/* visited link */
a:visited {
 color: green;
}

/* mouse over link */
a:hover {
 color: maroon;
}

/* selected link */
a:active {
 color: blue;
}
/* ===== ===== ===== */

/* =============================================== */




/* the text in one paragraph is not the same sizse as in another paragraph. This is because there is a button tag, and/or anchor tag, and/or image tag in the section tag with the paragraph tags. */
p {
  /* text-align: center; */
  /* margin: 0em; */
  /* background-color: antiquewhite; */
}

button {
  /* background-color: bisque; */
  /* display: block; */
  /* margin: 0 auto; */
  /* border: none; */
 }


img {
  /* background-color: yellow; */
  /* width: 20em; */
}

div {
  /* border: green .1em solid; */
}

span {
  /* font-size: 2.5em; */
  /* position: relative; */
  /* float: left; */
  /* top: 50%; */
  /* left: 50%; */
  /* transform: translate(-50%, -50%); */
}


.section_title {
  /* font-size: 2.5em; */
  /* text-decoration: underline; */
}

 .contact_info_div {
  /* border: .1em blueviolet solid; */
  /* width: 90%; */
  /* margin: 2em auto; */
 /* display: flex; */
 /* align-items: center; */
 /* justify-content: center; */
 /* background-color: bisque; */
}

/* This is here because the height/width of '.contact_info_img' didn't effect these two. */
#linkedin_btn, #stackoverflow_btn {
  /* width: 100%; */
  /* height: auto; */
  /* background-color: aqua; */
}

.contact_info_img { 
 /* height: auto; */
 /* width: 100%; */
}

.phone_email {
  /* border: .1em black solid; */
  /* width: 100%; */
  /* height: auto; */
  /* background-color: salmon; */
  /* background-color: burlywood; */
  /* margin-top: 1em; */
}

#email_anchor, #phone_anchor {
  /* font-size: 2.5em; */
}

/* alternative to hr */
/* Should I use this in order for the html to be semantic in terms of accessability? */
/* #dummy:before {
 content: " ";
 display: block;
 border-bottom: 1px solid black;
} */

#bio {
  /* width: 95%; */
  /* margin: auto; */
  /* background-color: #aaa; */
}

.bio_p {
  /* font-size: 3em; */
}

#contact_info, #projects, #continuing_education {
  /* width: 70%; */
  /* margin: auto; */
  /* padding-bottom: 1em; */
  /* background-color: #aaa; */
}

#bio_section, #projects_section {
  /* background-color: bisque; */
}

.projects_div {
 /* border: .1em blue solid; */
 /* width: 90%; */
 /* margin: 2em auto; */
 /* background-color: bisque; */


/* display: flex; */
/* align-items: center; */
/* justify-content: center */
}

.projects_btn {
/* background-color: bisque; */
/* height: auto; */
/* width: 100%; */
}

.projects_img {
 /* height: auto; */
 /* width: 100%; */
}

#contact_info_section, #continuing_education_section {
  /* background-color: salmon; */
  /* background-color: burlywood; */
}

 .continuing_education_btn, .contact_info_btn, .book_btn {
  /* background-color: salmon; */
  /* background-color: burlywood; */
 }

 .continuing_education_img {
  /* width: 100%; */
  /* height: auto; */
 }

 .continuing_education_div {
   /* border: .1em lightseagreen solid; */
   /* width: 90%; */
   /* height: auto; */
   /* margin: 1em auto; */
   /* background-color: salmon; */
   /* background-color: burlywood; */
 }

 .continuing_education_p{
   /* font-size: 2.5em; */
 }

 #book_btn {
   /* background-color: aqua; */
   /* width:100%; */
 }

 #book_img {
  /* width: 75%; */
  /* height: auto; */
 }

 #blog_btn {
   /* background-color: aqua; */
   /* width:100%; */
 }

 #blog_img {
  /* width: 100%; */
  /* height: auto; */
 }

 #meetup_btn {
   /* background-color: aqua; */
   /* width:100%; */
 }

 #meetup_img {
  /* width: 100%; */
  /* height: auto; */
 }

 #blog_img {
  /* background-color: salmon; */
  /* background-color: burlywood; */
 }

 .text_div {
  /* border: .1em green solid; */
  /* width: 50%; */
  /* margin: auto; */


 /* display: flex; */
 /* justify-content: center */
 }


 /* This is not used. */
/*                                                 resize images */
/* .container img {
  width: 25%;
  height: auto;
margin: auto;
display: block; 
} */

/************************************************************************************/
/************           for Modal               ************/
/************************************************************************************/

/* from: https://codepen.io/JamieBort/pen/PaoyQj */
/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 40%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
/************************************************************************************/
/************************************************************************************/
/************************************************************************************/



/************************************************************************************/
/************           for tablets               ************/
/************************************************************************************/

@media query (max-width: 30em) {



.projects_div, .continuing_education_btn_div {
  /* border: blue 0.3em solid; */
  /* max-width: 25%; */
  /* min-width: 20%; */
  height: 30em;
  /* width: auto; */
  /* margin: 1em; */
  display: flex;
  align-items: center;
  justify-content: center
}

.phone_email_anchor {
  font-size: 3em;
  /* width: 100%; */
  /* height: 100%; */
  /* margin: 4em 1em; */
  /* padding: 100%; */
  padding:1.5em;
}



.continuing_education_p{
  font-size: 2.5em;
}

}