body {
    background-color: antiquewhite
}

header, #body_section, footer {
    border: .2em solid blueviolet;
    margin: .2em 0;
}

#section_two, #section_three, #section_four, #section_five {
    border: .2em solid green;
    margin: .2em;
}

h1 {
    border: .2em solid brown;
    text-align: center;
}

p {
    border: .2em solid olive;
    margin: .2em;
}

img {
    border: .2em solid blue;
    margin: .2em;
}

ul {
    border: .2em solid violet
}


footer {
    text-align: center;
}

/* Playing with the header layout using flexbox */
#section_one {
    display: flex;
    /* border: .2em solid green; */
    justify-content: space-between;
}

#section_one div {
    border: .2em solid tomato;
}

#links {
    /* width: 750px; */
    display: flex; 
    justify-content: flex-end;
    /* justify-content: space-between; */
}

/* Playing with the second section layout using flexbox */
#body_section {
    /* border: .2em solid orangered; */
}

#body_section section {
    /* border: .2em solid orchid; */
}

#section_two div {
    display: flex;
    /* flex-wrap: wrap; */
}

#section_two p {
    /* display: block; */
    /* display: flex; */
    flex-wrap: wrap;
}

#section_two img {
    max-height: 320px; /* Without this the picture distorts when the wondow width is diminished. */
}

#test {
    /* height: 600px; */
    display: flex;
    flex-direction: column;
    border: .2em solid gold;
    
}

#test p {
    /* flex-direction: column; */
    /* display: inline; */
}