/* Below I have similar, if not identical ___ for <h1> tags and <p> tags. I am going to use the <h1> tags but may need to revert to the <p> tags if I want to style <h1> tags elesewhere in the website.  */
#section_one {
	height: 8em;
	border: .1em solid red;
	display: flex;
	align-items: center;
	justify-content: space-around;
}

#section_one div {
/* 	width: 40%; */
	height: 6em;
	margin: .1em;
	border: .1em solid blue;
	display: flex;
	align-items: center;
	justify-content: space-around;
}

div:first-child {
	width: 40%;
}

div:nth-child(2) {
	width: 50%;
}

.navigation {
	height: 4em;
	margin: .1em;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
}


#name {
	height: 4em;
	margin: .1em;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
}

#section_one div:first-child #name{
/* 	font-size: 2em; */
	height: 2.5em;
	width: 40%;
		background-color: lightblue;
}

.navigation {
	font-size: 1em;
	background-color: lightgreen;
	width: 15%;
/* 	font-size: 1.5em;
		height: 2.5em; */
}

#section_one div * {
		border: .15em solid darkgreen;
}










body {
    background-color: antiquewhite;
}

header, #body_section, footer {
    border: .2em solid blueviolet;
    margin: .2em 0;
}

#section_two, #section_three, #section_four, #section_five {
    border: .2em solid green;
    margin: .2em;
}

h1 {
    border: .2em solid brown;
    text-align: center;
}

h2 {
    border: .2em solid lightblue;
    text-align: center;
}

h3 {
    /* make this font size smaller than the h1 font size. */
    border: .2em solid hotpink;
    text-align: center;
}

p {
    border: .2em solid olive;
    margin: .2em;
}

img {
    /* border: .2em solid blue; */
    margin: .2em;
    max-height: 320px; /* Without this the picture distorts when the wondow width is diminished. */
    margin-right: 1em;
}

#my_picture {
    float: left;
}

#my_blog {
    /* center this - until I have writing from other sites to share */
}

ul {
    border: .2em solid violet
}


footer {
    text-align: center;
}

/* Playing with the header layout using flexbox */
#section_one {
    display: flex;
    justify-content: space-between;
}

#section_one div {
    border: .2em solid tomato;
}

#section_one div:first-child {
    width: 40%;
}

#section_one div:nth-child(2) {
    height: 5em;
    width: 40%;
    background-color: yellowgreen;
    display: flex;
}

#section_one div:nth-child(2) p{
    background-color: red;
    
}

#section_one p {
    text-align: center;
    justify-content: center;
}

#section_one div:first-child p {
    font-size: 2em;
    background-color: aqua;
}

#links {
    display: flex; 
    justify-content: flex-end;
}

/* Playing with the second section layout using flexbox */
#section_two {
    min-height: 400px; /* The height of the image in this section plus the height of the space above the image. */
}

#section_four {
    min-height: 450px; /* The height of the image in this section plus the height of the space above the image. */
}


/*************** new css ***************/


#section_div {
    display: flex;
   flex-flow: row wrap;
   justify-content: space-around;
  }

.contact_btn {
	margin: 6px;
	height: 200px; /* Wide enough to fit the email address. */
    width: 260px; /* Arbitrary height. */
    background-color: antiquewhite;
    border: none;
    /* border: 1px solid orange; */
}

.contact_anchor  {
    /* border: 1px solid green; */
	/* height: 150px; */
    /* width: 150px; */
}

.contact_img {
    /* border: 2px solid yellow; */
    height: 100%;
    width: auto;
}

.phone_email_btn {
    /* background-color: black; */
    font-size: 20px;
}

.phone_email_anchor {
    text-decoration: none;
    padding: .5em;
    border: .1em solid black;
    border-radius: .5em;
}
