/************************************************************************************/
/************           defaut styling which is for mobile               ************/
/************************************************************************************/
section {
  /* margin: auto; */
}

p {
  text-align: center;
  background-color: antiquewhite;
  /* display: block; */
  /* margin: auto; */
}

button {
  background-color: brown;
  display: block;
  /* margin: auto; */
  margin: 4em auto;
  padding: 3em;

}

a {
  background-color: blue;
  /* margin: 2em 0; */
  /* display: block; */
  /* max-width: 30em; */
  /* max-height: 30em; */
}

img {
  background-color: aqua;
  max-width: 20em;
  /* margin: 2em 0; */
}

/************************************************************************************/
/************           for tablets               ************/
/************************************************************************************/

@@media query {}



/************************************************************************************/
/************           for desktop               ************/
/************************************************************************************/

/* @@media query {} */