/* ***************************************** */

/* styles below for contact_form_style.html  */

/* ***************************************** */
/* ============================= */
/* Style for desktop             */
/* ============================= */


form {
    width: 75%;
    margin: 0 auto;
    /* background: lightpink; */
}

#contact_me_section_div {
    margin: 3em 0 0 0;
    /* border: 1px orangered solid; */
}

#form_input_div {
    /* display: flex;
    justify-content: space-around; */
    margin: 1em 0;
    /* background: lightblue; */
}

#form_left_div{
    /* display: inline;
    float:left;
    width:49%; */
    /* border: 1px olive solid; */
}

#form_middle_div{
    /* display: inline;
    float:right;
    width:49%; */
    /* border: 1px orange solid; */
}

label{display: block; width: 300px;
    /* width: 300px; */
    /* width: 90%; */
    /* border: 1px thistle solid; */
}

input{ width: 300px;
    /* width: 300px; */
    /* width: 90%; */
    /* border: 1px tomato solid; */
}

#form_right_div{
    width:100%;
    /* border: 1px orchid solid; */
}

textarea {
    width: 100%;
    min-height: 8em;
    /* background: lightpink; */
}

button {
    width: 300px;
    /* width: 100%; */
    height: 3em;
}

.thankyou_message {
    text-align: center;
    /* background: lightpink; */
}

/* ***************************************** */

/* styles above for contact_form_style.html  */

/* ***************************************** */

/* ============================= */

/* Style for tablet - horizontal */

/* ============================= */

/* ============================= */

/* Style for tablet - vertical   */

/* ============================= */

/* ============================= */

/* Style for mobile - horizontal */

/* ============================= */

/* ============================= */

/* Style for mobile - vertical   */

/* ============================= */

@media (max-width: 1000px) {
    body {
        /* background-color:ivory; */
    }
    footer {
        /* background-color: greenyellow; */
    }
    #copyright {}
    #nav {
        /* background-color: palegreen; */
    }
    #nav_left, #nav_right {
        /* background-color: thistle; */
    }
}