
/* Resources Page                       */

#list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.resource_div {
    max-width: 50%;
    min-width: 40%;
    /* border: 1px solid blue; */
}

.resource_title {
    text-align: center;
}
