/* Using this file to organize the CSS selectors in a way that makes more sense. */
/* ============================= */
/* Style for desktop             */
/* ============================= */


html{
    /* background-color:red; */
    height: 100%;
}

* {
    scroll-behavior: smooth;
}

body{
    margin: 0;
    height: 100%;
    /* background-color:palevioletred; */
}

.wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;

    /* border: .1px greenyellow solid; */
}

/* header-web-component */

main {
    flex: 1;
    overflow: auto;
}

/* footer-web-component */

footer {
    padding: .2em 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid red;
    /* background-color: greenyellow; */
}

#title {
    text-align: center;
    /* font-size: 2.5em; */
    font-size: 2.5rem;
}

#nav {
    border-bottom: 1px solid green;
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* border: .1px green solid;
    background-color: lightskyblue; */
}

#nav_left, #nav_right {
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: darkturquoise; */
}

/* this one was not used previously */
.nav_div {}

.nav_a {
    text-decoration: none;
    /* font-size: 2em; */
    font-size: 2rem;
    padding:0 .2em;
    margin: .1em ;
    text-align: center;
}

.nav_a:hover {
  background-color: lightgray;
  color: white;
  border-radius: .25em;
}

.active {
    background-color: lightslategray;
    color: white;
    padding:0 .2em;
    margin: .2em;
    border-radius: .25em;
}

/* section{
    border: .1px gold solid;
    padding:5em;
    margin: 5em;
} */

#bio_section, #projects_section, #connect_with_me_section, #resume_section {
    margin:auto;
    max-width: 95%;
    /* border: .1px goldenrod solid;
    margin: 8em auto; */
}

#bio_section {}

#projects_section {
    padding-bottom:1em;
}

#connect_with_me_section {
    /* border: 1px rgba(0,0,0,0.16) solid; */
}

#resume_section {}


#title, .section_title, .subtitle {
    font-family: 'Quattrocento', serif;
    /* font-family: 'Roboto', sans-serif; */
}

.section_title {
    text-align: center;
    font-size: 2rem;
}

/* .subtitle{
    text-align: center;
} */

/* #lets{
    margin-left:.3em;
    border: 1px solid blue;
    text-align: center;
} */

#lets_action{
    margin-left:.3em;
    /* border: 1px solid blue; */
    /* text-align: center; */
}

.section_div_class {
    margin: auto;
    /* border: .1px blue solid;
    margin: 5em; */
}

#bio_section_div {}

#connect_with_me_section_div {}

#projects_section_div {
    display:flex;
    flex-wrap:wrap;
    justify-content:space-around;
    /* border: .1px blue solid; */
}

p, li, h3 {
    /* font-family: 'Quattrocento', serif; */
    /* font-family: 'Roboto', sans-serif; */
    font-family: 'Montserrat', sans-serif;
}

/* Maybe put this in a div or other container? Maybe. */
/* Regardless, keep it relative to font size. Probably em rather than rem. */
#devs_img {
    height: 1.5em;
    width: 4.5em;
    position: relative;
    top: .4em;
    /* background: lightblue; */
}

#icon_div{
    display:flex;
    flex-wrap:wrap;
    justify-content:space-around;
    /* border: 1px blue solid; */
}

.fab{
    margin:.3em 1.3em;
    /* font-size: 5em; */
    font-size: 5rem;

    /* border: 1px red solid; */
}

/* ***************** */
/* card styles below */

    .card_outside_div{
        border-radius:1em;
        margin:1.5em 0;
        text-align:center;
        width:30%;

        /* body - or any parent wrapper */
        display: flex;
        flex-direction: column;

        /* 	Used this https://html-css-js.com/css/generator/box-shadow/ for the following box shadow */
        -webkit-box-shadow: 5px 5px 16px 5px rgba(0,0,0,0.16); 
        box-shadow: 5px 5px 16px 5px rgba(0,0,0,0.16);
        background: #FFFFFF;
        /* border: .1px green solid; */
    }

/* .card_header_div {
        border: .1px green solid;
    } */

    .card_header_img{
        width:100%;
        border-radius:1em 1em 0 0;
        margin:0;
        padding:0;
        /* border: .1px greenyellow solid; */
    }

    .card_body_outside_div{
        flex: 1;        
        display:flex;
        flex-direction:column;
        justify-content:space-between;
        margin:.5em auto;
        width:90%;
        /* border: .1px green solid; */
    }
    
    .card_a_div{
        display:flex;
        justify-content:space-around;
        align-items:center;
        margin:.1em;
        padding:.1em;
        /* border: .1px red solid; */
    }
    
    .card_a, .card_body_img{
        margin: .5em;
        min-width:20%;
    	/* border: .1px orange solid; */
}
    
    .card_a{
        text-decoration:none;
        border-bottom: 1px solid black;
    /* 	border: .1px orange solid; */
    }
    .card_footer_div{
        border-top: 1px solid black;
        padding: .2em 0;
        display:flex;
        align-items:center;
    	/* border: .1px orange solid; */
    }
    .card_unordered_list{
        list-style-type:none;
        margin:0 auto;
        width:90%;
        padding:0;
        display:flex;
        flex-wrap:wrap;
        justify-content: space-around;
    /* 	border: .1px green solid; */
    }
    
.card_list_item{
    padding:.1em;
    /* 	border: .1px red solid; */
    }

/* card styles above */
/* ***************** */

#lets_container_left {
    width: 100%;
    display:flex; 
    justify-content:flex-end;
    /* border: 1px solid chartreuse; */
}

#lets_container_right {
    width: 100%;
    display:flex; 
    justify-content:flex-start;
    /* border: 1px solid black; */
}

#lets_container {
    display: flex;
    justify-content: center;
    /* border: 1px solid brown; */
}

#connect_with_me_div {
    display: flex;
    justify-content: space-around;
    flex-wrap:wrap;
    margin-top: 3em;
    /* background-color: lightsalmon;
    border: 1px solid chartreuse;
    padding : 2em;
    margin: 4em; */
}

.connect_with_me_a{
    display:flex;
    align-items: center;
    justify-content: space-around;
    margin: 3em 0;
    /* min-width: 45%; */
    min-width: 100px;
    /* max-height: 100px; */
    /* width: 45%; */
    
    /* background-color: red;
    border: 1px solid red;
    padding : 2px;
    margin: 2px; */
}

.connect_with_me_img {
    /* max-width: 3em; */
    max-width: 100px;
    /* max-width: 10%; */
    /* width: auto; */
    /* background-color: pink;
    padding : 3em;
    margin: 3em; */
}

.p_div {}
/* ============================= */
/* Style for tablet - horizontal */
/* ============================= */
/* ============================= */
/* Style for tablet - vertical   */
/* ============================= */

/* ============================= */
/* Style for mobile - horizontal */
/* ============================= */

/* ============================= */
/* Style for mobile - vertical   */
/* ============================= */

@media (max-width: 1000px) {
    body {
      /* background-color:ivory; */
    }

    footer {
        padding: .5em 0;
        /* background-color: greenyellow; */
    }
    #copyright{
        /* font-size: 2em; */
        font-size: 2rem;
    }

    #nav {
        padding: .5em 0;
        /* background-color: palegreen; */
    }

    #nav_left, #nav_right {
        padding: .5em 0;
        /* background-color: thistle; */
    }

    #devs_img {
        height: 3.5em;
        width: 10.5em;
        position: relative;
        top: .7em;
        /* background: lightblue; */
        }

    .card_outside_div{
        width:95%;
        /* background: lime; */
        /* border: .1px green solid; */
    }

    .card_a{
        /* font-size: 2em; */
        font-size: 2rem;
    }

    .card_list_item{
        /* font-size: 2em; */
        font-size: 2rem;
    }

}