/* Below I have similar, if not identical ___ for <h1> tags and <p> tags. I am going to use the <h1> tags but may need to revert to the <p> tags if I want to style <h1> tags elesewhere in the website.  */
#section_one {
	height: 8em;
	border: .1em solid red;
	display: flex;
	align-items: center;
	justify-content: space-around;
}

#section_one div {
/* 	width: 40%; */
	height: 6em;
	margin: .1em;
	border: .1em solid blue;
	display: flex;
	align-items: center;
	justify-content: space-around;
}

div:first-child {
	width: 40%;
}

div:nth-child(2) {
	width: 50%;
}


#name {
	height: 4em;
	margin: .1em;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
}

#section_one div:first-child #name{
/* 	font-size: 2em; */
	height: 2.5em;
	width: 40%;
		background-color: lightblue;
}



#section_one div * {
		border: .15em solid darkgreen;
}













#section_two, #section_three, #section_four, #section_five {
    border: .2em solid green;
    margin: .2em;
}

h1 {
    border: .2em solid brown;
    text-align: center;
}

h2 {
    border: .2em solid lightblue;
    text-align: center;
}

h3 {
    /* make this font size smaller than the h1 font size. */
    border: .2em solid hotpink;
    text-align: center;
}

p {
    border: .2em solid olive;
    margin: .2em;
}

img {
    /* border: .2em solid blue; */
    margin: .2em;
    max-height: 320px; /* Without this the picture distorts when the wondow width is diminished. */
    margin-right: 1em;
}

#my_picture {
    float: left;
}














/*************** new css ***************/







body {
    margin: .1em;
    border: .1em solid black;
}

header, #body_section, footer {
    border: .1em solid blueviolet;
    margin: .2em;
}

/* ************************** */
/* ********* Header ********* */
/* ************************** */

/* Playing with the header layout using flexbox */
#section_one {
    display: flex;
    justify-content: space-between;
}

#section_one div {
    border: .2em solid tomato;
}

#section_one div:first-child {
    width: 40%;
}

#section_one div:nth-child(2) {
    height: 5em;
    width: 40%;
    background-color: yellowgreen;
    display: flex;
}

#section_one div:nth-child(2) p{
    background-color: red;
    height: 4em;   
    display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
}

#section_one p {
    text-align: center;
    justify-content: center;
}

#section_one div:first-child p {
    font-size: 2em;
    background-color: aqua;
}

#links {
    display: flex; 
    justify-content: flex-end;
}

/* 
.navigation {
	height: 4em;
	margin: .1em;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
} */



/* ************************** */
/* ********** Body ********** */
/* ************************** */

#section_About_Me, #section_Projects, #section_Writing, #section_Connect {
	margin: .1em;
	border: .1em solid red;
}

#section_About_Me h1, #section_Projects h1, #section_Writing h1, #section_Connect h1, #section_Connect h3 {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 90%;
	height: 2em;
	margin: .1em auto;
	border: .1em solid blue;
}

#section_About_Me > div {
	display: flex;
	width: 90%;
	margin: .1em auto;
	border: .1em solid green;
}

#section_About_Me img {
  float: left;
  margin-right: 1em;
	margin: .1em 1em;
	padding: .1em;
	border: .1em solid black;
}

#section_About_Me p, #section_Projects p, #section_Writing p, #section_Connect p {
	border: .1em solid lightblue;
}

#section_About_Me p {
	margin: .1em;
}

#section_Projects p, #section_Writing p, #section_Connect p {
	width: 90%;
	margin: .1em auto;
}

#section_Connect div {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
}

#section_Connect button {
	margin: 6px;
	height: 200px; /* Wide enough to fit the email address. */
  width: 260px; /* Arbitrary height. */
	background-color: antiquewhite;
	border: none;
}

#section_Connect img {
    border: 2px solid black;
    height: 100%;
    width: auto;
}

.phone_email_btn {
    font-size: 15px;
}

.phone_email_anchor {
    text-decoration: none;
    padding: .5em;
    border: .1em solid black;
    border-radius: .5em;
}

/* ************************** */
/* ********* Footer ********* */
/* ************************** */

footer {
	display: flex;
	align-items: center;
    justify-content: center;
    text-align: center;
	height: 2em;
}