/* ./styles.css */

body {
    /* background-color: blueviolet; */
    text-align: center;
  }

  header {
    background-color:blueviolet;
    position: sticky;
    top: 0;
  }

  header div{
    display: flex;
    justify-content: space-between;
  }

  #content {
    background-color: bisque;
    
    /* play with this calc(100vh - 50px)value */
    min-height: calc(100vh - 50px);
  }

  #menu {
    position: sticky;
    background-color: aquamarine;
  }

  .menu_button{
    display: block;
    width: 100%;
  }

  section {
    background-color: lightblue;
    /* height: 400px; */
  }

  footer {
    background-color: fuchsia;
    position: sticky;
    bottom: 0;
    height: 50px;
  }