/* ./styles.css */

@font-face {
    font-family: Tinos;
    font-weight: 400;
    font-style: normal;
    src:    local(Tinos), 
            url("../../assets/fonts/GoogleFonts/Tinos/Tinos-Bold.ttf") format('truetype'),
     
            url("../../assets/fonts/GoogleFonts/Tinos/Tinos-BoldItalic.ttf") format('truetype'),
     
            url("../../assets/fonts/GoogleFonts/Tinos/Tinos-Italic.ttf") format('truetype'), 
            
            url("../../assets/fonts/GoogleFonts/Tinos/Tinos-Regular.ttf") format('truetype');
}

html, body {
    height: 100%;
    font-size: 16px;
}

body{
    background-color: rgb(230, 165, 166);
    text-align: center;
    /* width: 100%; */
    margin: 0 auto;

    font-family: "Tinos";
    font-weight: 400;
    font-style: normal;
/* 
    display: flex;
    flex-direction: column; */

    

/* added! */
  display: flex; /* displays flex-items (children) inline */
  flex-direction: column; /* stacks them vertically */
  height: 100%; /* needs to take the parents height, alternative: body {display: flex} */

  
}

header {
background-color:gainsboro;
/* position: sticky;
top: 0; */
}

header div{
display: flex;
justify-content: space-around;
}

.headerButtons{
    /* background-color:lightcoral; */
    font-size: 28px;
    /* flex: 4 1 auto; */
}

header div button:nth-child(odd) {
    flex-grow: 7;
}

header div button:nth-child(even) {
    flex-grow: 1;
}

p , ul{
    text-align: left;
}

#content {
/* background-color: bisque; */
width: 97%;
margin: 0 auto;

/* play with this calc(100vh - 50px)value */
/* min-height: calc(500vh - 25px); */

/* added! */
flex: 1; /* takes the remaining height of the "container" div */
overflow: auto; /* to scroll just the "main" div */


}

#menu {
/* position: sticky; */
/* background-color: bisque; */
}

.menu_button{
display: block;
width: 100%;
font-size: 22px;
/* height: 4em; */
}

section {
/* background-color: lightblue; */
/* height: 2000px; */
}

#card_container {
    /* border: 0.1em blue solid; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.card {
    border: thin solid gray;
    max-height: 30em;
    min-height: 15em;
    margin: 0.3em;
    /* width: 20em; */
    border-radius: 0.5em;
}

.card_div {
    /* padding: 0 .5em .5em .5em; */
    /* border: 0.1em yellowgreen solid; */
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: space-between;

    max-width: 90%;
    margin: 0 auto 1em auto;
}

#ConnectWithMe{
    /* padding-bottom: 25px; */
    /* margin-bottom: 25px; */
}

#connect_container {
    /* background-color: lightsalmon; */
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.fontAwesome{
    /* background-color: lightsalmon; */
    border: thin solid black;
    border-radius: .12em;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3em;

    /* Former styles for the images */
    /* background-color: pink; */
    max-width: 6em;
    /* min-width: 4em; */
    padding: 1em;
    margin: .25em;
}

footer {
    background-color:gainsboro;
    /* position: sticky;
    bottom: 0; */
    /* height: 25px; */

    /* flex-shrink: 0; */
}