/* ./styles.css */

body {
    /* background-color: blueviolet; */
    text-align: center;
  }

  header {
    background-color:blueviolet;
    position: sticky;
    top: 0;
  }

  #content {
    background-color: bisque;
  }

  #menu {
    position: sticky;
    background-color: aquamarine;
  }

  .menu_button{
    display: block;
    width: 100%;
  }

  section {
    background-color: lightblue;
    height: 1200px;
  }

  footer {
    background-color: fuchsia;
    position: sticky;
    bottom: 0;
  }