/* DESKTOP                         */

/* Home Page                       */

/* html * {
    scroll-behavior: smooth;
    background-color:orange;
} */

/* section{
    margin:3em 0 0 0;
} */

/* h1,h2{
    font-family: 'Quattrocento', serif;
} */
/* p, li, h3{
    font-family: 'Montserrat', sans-serif;
} */

html, body {
    /* height: 100%; */
    /* margin: 0; */
    background-color:lightpink;
}

/* .wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
} */

header, footer {
    /* background: silver; */
    /* font-size: 30px; */
}

/* main {
    flex: 1;
    overflow: auto;
} */

/* #title {
    text-align: center;
    font-size: 2.5em;
} */

/* .section_title {
    text-align: center;
} */

/* .subtitle {
    text-align: center;
} */

/* Not used before transitioning to the temp.css file. */
.section_div_not_used {
    /* background: silver;
    max-width: 90%;
    margin: 0 auto; */
    /* text-align: center; */
}

/* .p_div, #projects_section_div {
    max-width: 85%;
    margin: 0 auto;
} */

/* Header Desktop                  */

/* Header Desktop                  */

/* nav {
    border-bottom: 1px solid red;
    display: flex;
    justify-content: space-around;
} */

/* #nav_left, #nav_right {
    height: 3em;
    display: flex;
    justify-content: center;
    align-items: center;
} */

/* Not used before transitioning to the temp.css file. */
#nav_left {
    /* background:lightgreen; */
}

/* Not used before transitioning to the temp.css file. */
#nav_right {
    /* background:lightgreen; */
    /* display: flex;
    justify-content: center;
    align-items: center; */
}

/* Not used before transitioning to the temp.css file. */
/* .head_a {
    text-decoration: none;
    font-size: 2em;
    margin: 0 .5em;
    padding:0 .4em;
} */

/* .nav_a {
    text-decoration: none;
    font-size: 2em;
    margin: 0 .5em;
    padding:0 .4em;
} */




/* Not used before transitioning to the temp.css file. */
/* Style the buttons */
/* .btn isn't used */
.btn {
    /* border: none;
    outline: none;
    padding: 10px 16px;
    background-color: #f1f1f1;
    cursor: pointer;
    font-size: 18px; */
  }
  
  /* Style the active class, and buttons on mouse-over */
  /* .active {
    background-color: lightslategray;
    color: white;
    padding:0 .4em;
    border-radius: .25em;
  } */

/* Not used before transitioning to the temp.css file. */
  /* .head_a:hover {
    background-color: lightgray;
    color: white;
    border-radius: .25em;} */

  /* .nav_a:hover {
    background-color: lightgray;
    color: white;
    border-radius: .25em;
} */


















/* Bio section Desktop             */

/* Bio section Desktop             */

/* Not used before transitioning to the temp.css file. */
#bio_section {
    /* text-align: center; */
}

/* #bio_section_div {
    margin: 0 auto;
} */

/* #devs_img {
    height: 1.5em;
    width: 4.5em;
    position: relative;
    top: .4em;
} */

/* not used any more */

/* Not used before transitioning to the temp.css file. */
/* #point_down {
    width: 3em;
    background-color: transparent;
} */

/* not used any more */
/* #skills_viewing_options {
    display: flex;
    justify-content: space-around;
} */
/* not used any more */
/* The following is for the table */

table tbody tr td {
    border: 1px solid black;
    /* border-collapse: collapse; */
    /* border-spacing: 0em; */
}
/* not used any more */
table {
    margin: 0 auto;
    /* margin-left:auto; 
    margin-right:auto; */
    /* ********************************************************* */
    /* the below from: https://stackoverflow.com/a/16848343/8210460
    and from: http://jsfiddle.net/ezific/43ZkH/ */
    /* ********************************************************* */
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#c5deea+0,8abbd7+31,066dab+100;Web+2.0+Blue+3D+%231 */
    background: rgb(197, 222, 234);
    /* Old browsers */
    background: -moz-linear-gradient(-45deg, rgba(197, 222, 234, 1) 0%, rgba(138, 187, 215, 1) 31%, rgba(6, 109, 171, 1) 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, rgba(197, 222, 234, 1) 0%, rgba(138, 187, 215, 1) 31%, rgba(6, 109, 171, 1) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, rgba(197, 222, 234, 1) 0%, rgba(138, 187, 215, 1) 31%, rgba(6, 109, 171, 1) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c5deea', endColorstr='#066dab', GradientType=1);
    /* IE6-9 fallback on horizontal gradient */
    /* ********************************************************* */
    /* the above from: https://stackoverflow.com/a/16848343/8210460
    and from: http://jsfiddle.net/ezific/43ZkH/ */
    /* ********************************************************* */
    border-radius: 1em;
    padding: 1em;
}

/* #icon_div{
    display:flex;
    flex-wrap:wrap;
    justify-content:space-around;
}

    .fab{
    margin:.3em 1.3em;
    font-size: 5em;
} */

/* Projects section Desktop        */

/* Projects section Desktop        */


/* 8888888888888888888888888888888888888888888888888888888 */
/* 888888888888 Project card     below     888888888888888 */
/* 8888888888888888888888888888888888888888888888888888888 */



#projects_section{
    /* border: .1em red solid; */
    /* padding:.1em; */
}

/* Not used before transitioning to the temp.css file. */
/* .projects_section_div{
    display:flex;
    flex-wrap:wrap;
    justify-content:space-around;
} */

/* #projects_section_div{
    display:flex;
    flex-wrap:wrap;
    justify-content:space-around;
} */

/* .card_outside_div{
    border-radius:1em;
    margin:1.5em 0;
    text-align:center;
    width:20em;
    display: flex;
    flex-direction: column;
      min-height: 20em;
    -webkit-box-shadow: 5px 5px 16px 5px rgba(0,0,0,0.16);
    box-shadow: 5px 5px 16px 5px rgba(0,0,0,0.16);
    background: #FFFFFF;
} */

/* .card_header_div {
    width:100%;
}
.card_header_img{
    width:100%;
    border-radius:1em 1em 0 0;
    margin:0;
    padding:0;
}
.card_body_outside_div{
    flex: 1;
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    margin:.5em auto;
    width:90%;
}
.card_a_div{
    display:flex;
    justify-content:space-around;
    align-items:center;
    margin:.1em;
    padding:.1em;
}
.card_a, .card_body_img{
    margin: .5em;
    min-width:4em
}
.card_a{
    text-decoration:none;
    border-bottom: 1px solid black;
}
.card_footer_div{
    border-top: 1px solid black;
    min-height:2.5em;
    display:flex;
    align-items:center;
}
.card_unordered_list{
    list-style-type:none;
    margin:0 auto;
    width:90%;
    padding:0;
    display:flex;
    flex-wrap:wrap;
    justify-content: space-around;
}
.card_list_item{
    padding:.1em;
} */





/* 8888888888888888888888888888888888888888888888888888888 */
/* 888888888888 Project card     above     888888888888888 */
/* 8888888888888888888888888888888888888888888888888888888 */






/* Connect With Me section Desktop */

/* Connect With Me section Desktop */

/* NOTE:/TODO: should this #connect_with_me_section selector be all by itself? rather, should it be removed or should there be a class for all sections?*/

/* #connect_with_me_section {
    height: 18em;
} */

/* #connect_with_me_div {
    display: flex;
    justify-content: space-around;
    margin-top: 3em;
} */

/* editing below */
/* #lets_container{
    display: flex;
    justify-content: center;
} */
/* #lets_container span{
    width: 100%;
} */
/* #lets_container_left,#lets_container_right{
    width: 100%;
} */
/* #lets_container_left {
    display:flex; 
    justify-content:flex-end; 
} */
/* #lets_container_right {
    display:flex; 
    justify-content:flex-start; 
} */

/* Not used before transitioning to the temp.css file. */
#lets_container_left h2{
    /* margin-right:2em; */
    /* border: 1px solid green; */
    /* display:flex; 
    justify-content:flex-end;  */
}
#lets_container_right h2{
    /* margin-left:.3em;
    border: 1px solid blue; */
    /* display:flex; 
    justify-content:flex-start;  */
}

/* editing below */

/* .connect_with_me_img {
    max-width: 3em;
    width: auto;
} */

/* Footer Desktop                  */

/* Footer Desktop                  */

/* footer {
    min-height: 1.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid red;
} */

/* Not used before transitioning to the temp.css file. */
#copyright {
    /* border-top: 5px solid red; */
    /* background: silver; */
    /* font-size: 1em; */
}

/* For the site is under construction image */

/* #construction_div {
    margin: 0 auto;
    max-width: 50%;
    text-align: center;
} */

/* #construction {
    display: block;
    max-width: 30%;
    margin: 0 auto;
} */

/* Resources Page                       */

/* #list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
} */

/* .resource_div {
    max-width: 50%;
    min-width: 40%;
} */

/* .resource_title {
    text-align: center;
} */

/* ***************************************** */

/* styles below for contact_form_style.html  */

/* ***************************************** */

/* form {
    width: 75%;
    margin: 0 auto;
} */

/* #contact_me_section_div{
    margin: 3em 0 0 0;
} */

/* #form_input_div {
    display: flex;
    justify-content: space-around;
    margin: 1em 0;
} */

/* textarea {
    width: 100%;
    min-height: 8em;
} */

/* button {
    width: 100%;
    height: 3em;
} */

/* .thankyou_message {
    text-align: center;
} */

/* ***************************************** */

/* styles above for contact_form_style.html  */

/* ***************************************** */

/* TABLET                          */

/* Header Tablet                   */

/* Bio section Tablet              */

/* Projects section Tablet         */

/* Connect With Me section Tablet  */

/* Footer Tablet                   */

/* MOBILE                          */
/* =========================================== */
/* Style for mobile */
/* =========================================== */

/* Using: https://stackoverflow.com/questions/16704243/widths-to-use-in-media-queries */

@media (max-width: 1000px) {
    /* body {
      background-color:lightsteelblue;
    } */

/* Header Mobile                   */

/* Bio section Mobile              */

/* #devs_img {
    height: 3.5em;
    width: 10.5em;
    position: relative;
    top: .7em;
} */

/* Projects section Mobile         */

/* Connect With Me section Mobile  */

/* Footer Mobile                   */
    
}