html * {
    /* font-size: 1em !important; */
    /* color: #000 !important; */
    font-family: Garamond !important;
    scroll-behavior: smooth;
}

html, body {
    height: 100%;
    margin: 0;
}

h2 {
    font-size: 1.75em;
}

.wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
}

/* I don't think #abc is being used. */

#temp {
    /* background: lightskyblue; */
    height: 80px;
}

#title {
    /* background: blueviolet; */
    text-align: center;
    font-size: 2.5em;
    /* height: 80px; */
}

#bio {
    /* text-align: center; */
}

.division {
    /* border: .1em black solid; */
    padding-top: 1em;
}

.section_title {
    text-align: center;
}

#bio_section_div {
    /* background: silver; */
    /* text-align: center; */
    max-width: 90%;
    margin: 0 auto;
}

#copyright {
    /* border-top: 5px solid red; */
    /* background: silver; */
    /* font-size: 1em; */
}

.footer {
    /* background: brown; */
    border-top: 1px solid red;
}

.header, .footer {
    /* background: silver; */
    /* font-size: 30px; */
}

#header-cont {
    border-bottom: 1px solid red;
    display: flex;
    justify-content: space-around;
}

#left, #right {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#left {
    /* background:lightgreen; */
}

#right {
    /* background:lightgreen; */
    /* display: flex;
    justify-content: center;
    align-items: center; */
}

#connect_with_me {
    height: 300px;
}

.connect_with_me_button, .head_button {
    margin: 0 10px;
    background-color: transparent;
    border: none;
}

#projects_section_div {
    /* background: lightsteelblue; */
    /* border: .1em black solid; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.projects_div {
    /* background: lightskyblue; */
    border: .1em black solid;
    max-width: 300px;
    margin: .5em;
    padding: .5em;
}

.projects_title {
    text-align: center;
}

.projects_button {
    /* margin: 0 10px; */
    /* background-color: transparent; */
    /* border: none; */
}

/* button {
    margin: 0 10px;
    background-color: transparent;
    border: none;
} */

.connect_with_me_icons {
    /* background-color: lightsalmon; */
    display: flex;
    justify-content: space-around;
    /* max-width: 100px;
    width: auto; */
}

.connect_with_me_button {
    /* background-color: lightblue; */
    width: 200px;
    height: 200px;
    /* max-width: 100px;
    width: auto; */
}

.connect_with_me_a {
    /* background-color: lightseagreen; */
    background: lightseagreen;
    width: 100px;
    height: 100px;
}

.connect_with_me_img {
    max-width: 50px;
    width: auto;
    /* max-width: 25px; */
    /* background-color: pink; */
}

/* img {
    max-width: 100px;
    /* max-width: 25px; */

/*width: auto;
    background-color: pink;
} */

.head_a {
    text-decoration: none;
    font-size: 30px;
}

.projects_a {
    text-decoration: none;
    /* font-size: 30px; */
}

/* a {
    text-decoration: none;
} */

.content {
    flex: 1;
    overflow: auto;
    /* background: pink; */
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* The following is for the table */

table tbody tr td {
    border: 1px solid black;
    border-collapse: collapse;
    border-spacing: 0rem;
}

table {
    margin: 0 auto;
    /* margin-left:auto; 
    margin-right:auto; */
}

.table_div {
    /* background-color: lightskyblue; */
}

#construction_div {
    /* border: 1px solid black; */
    margin: 0 auto;
    max-width: 50%;
    text-align: center;
}

#construction {
    display: block;
    max-width: 30%;
    /* max-height: 10%; */
    /* border: 1px solid blue; */
    margin: 0 auto;
}

#list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.resource_div {
    max-width: 50%;
    min-width: 40%;
    /* border: 1px solid blue; */
}

.resource_title{
    text-align: center;
}