/* This is the Revamp2020 branch. */

/* DESKTOP                         */

/* Home Page                       */

html * {
    scroll-behavior: smooth;
}

section{
    margin:3em 0 0 0;
}

h1,h2, h3{
    font-family: 'Quattrocento', serif;
    /* font-family: 'Roboto', sans-serif; */
}
p, li{
    /* font-family: 'Quattrocento', serif; */
    /* font-family: 'Roboto', sans-serif; */
    font-family: 'Montserrat', sans-serif;
}

html, body {
    height: 100%;
    margin: 0;
}

.wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
}

header, footer {
    /* background: silver; */
    /* font-size: 30px; */
}

main {
    flex: 1;
    overflow: auto;
    /* background: pink; */
}

#title {
    /* background: blueviolet; */
    text-align: center;
    font-size: 2.5em;
    /* height: 80px; */
}

.section_title {
    text-align: center;
}

.subtitle {
    text-align: center;
}

.section_div_not_used {
    /* background: silver;
    max-width: 90%;
    margin: 0 auto; */
    /* text-align: center; */
}

.p_div {
    /* background: salmon; */
    max-width: 85%;
    margin: 0 auto;
    /* text-align: center; */
}

/* Header Desktop                  */

/* Header Desktop                  */

nav {
    border-bottom: 1px solid red;
    display: flex;
    justify-content: space-around;
}

#left, #right {
    height: 3em;
    display: flex;
    justify-content: center;
    align-items: center;
}

#left {
    /* background:lightgreen; */
}

#right {
    /* background:lightgreen; */
    /* display: flex;
    justify-content: center;
    align-items: center; */
}

.head_a {
    text-decoration: none;
    font-size: 2em;
    margin: 0 .5em;
}




/* Style the buttons */
/* .btn isn't used */
.btn {
    /* border: none;
    outline: none;
    padding: 10px 16px;
    background-color: #f1f1f1;
    cursor: pointer;
    font-size: 18px; */
  }
  
  /* Style the active class, and buttons on mouse-over */
  .active {
    /* background-color: #666; */
    background-color: lightslategray;
    color: white;
    padding:0 .4em;
    border-radius: .25em;
  }

  .head_a:hover {
    /* background-color: #666; */
    background-color: lightgray;
    color: white;
    padding:0 .4em;
    border-radius: .25em;
  }


















/* Bio section Desktop             */

/* Bio section Desktop             */

#bio {
    /* text-align: center; */
}

#bio_section_div {
    /* background: silver; */
    /* text-align: center; */
    /* max-width: 90%; */
    margin: 0 auto;
}

#devs_img {
    /* height: 1em; */
    height: .75em;
    /* width: 5.5%; */
    /* background: lightblue; */
}

/* not used any more */

/* #point_down {
    width: 3em;
    background-color: transparent;
} */

#skills_viewing_options {
    display: flex;
    justify-content: space-around;
    /* background-color: green;   */
}

/* The following is for the table */

table tbody tr td {
    border: 1px solid black;
    /* border-collapse: collapse; */
    /* border-spacing: 0em; */
}

table {
    margin: 0 auto;
    /* margin-left:auto; 
    margin-right:auto; */
    /* ********************************************************* */
    /* the below from: https://stackoverflow.com/a/16848343/8210460
    and from: http://jsfiddle.net/ezific/43ZkH/ */
    /* ********************************************************* */
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#c5deea+0,8abbd7+31,066dab+100;Web+2.0+Blue+3D+%231 */
    background: rgb(197, 222, 234);
    /* Old browsers */
    background: -moz-linear-gradient(-45deg, rgba(197, 222, 234, 1) 0%, rgba(138, 187, 215, 1) 31%, rgba(6, 109, 171, 1) 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, rgba(197, 222, 234, 1) 0%, rgba(138, 187, 215, 1) 31%, rgba(6, 109, 171, 1) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, rgba(197, 222, 234, 1) 0%, rgba(138, 187, 215, 1) 31%, rgba(6, 109, 171, 1) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c5deea', endColorstr='#066dab', GradientType=1);
    /* IE6-9 fallback on horizontal gradient */
    /* ********************************************************* */
    /* the above from: https://stackoverflow.com/a/16848343/8210460
    and from: http://jsfiddle.net/ezific/43ZkH/ */
    /* ********************************************************* */
    border-radius: 1em;
    padding: 1em;
}

.table_div {
    /* background-color: lightskyblue; */
}

#icon_div{
    /* border: .1em blue solid; */
    /* margin:3em; */
    display:flex;
    flex-wrap:wrap;
    justify-content:space-around;}
.fab{
    /* border: .1em blue solid; */
    margin:.3em 1.3em;
    font-size: 5em;
}

/* Projects section Desktop        */

/* Projects section Desktop        */


/* 8888888888888888888888888888888888888888888888888888888 */
/* 888888888888 Project card     below     888888888888888 */
/* 8888888888888888888888888888888888888888888888888888888 */



#projects{
    /* border: .1em red solid; */
    padding:.1em;
}

.projects_container{
    /* border: .1em blue solid; */
    display:flex;
    flex-wrap:wrap;
    justify-content:space-around;
}

.card_outside_div{
    	/* border: .1em green solid; */
    border-radius:1em;
    margin:1.5em 0;
    text-align:center;
    /* max-height:30em; */
	/* max-width:20em; */
    /* min-width:15em; */
    width:20em;
    
    
    /* body - or any parent wrapper */
  display: flex;
  flex-direction: column;
/*   min-height: 100vh; */
      min-height: 20em;
    /* 	border: .1em lightgray solid; */

    /* 	Used this https://html-css-js.com/css/generator/box-shadow/ for the following box shaddow */
-webkit-box-shadow: 5px 5px 16px 5px rgba(0,0,0,0.16); 
box-shadow: 5px 5px 16px 5px rgba(0,0,0,0.16);
background: #FFFFFF;
}

.card_header_div {
/* 	border: .1em green solid; */
/* 	margin:.1em; */
    width:100%;
/* max-hight:.2em; */
}
.card_header_img{
    width:100%;
    border-radius:1em 1em 0 0;
    margin:0;
    padding:0;
}
.card_body_outside_div{
    flex: 1;
    
    display:flex;
    flex-direction:column;
justify-content:space-between;
    
    
	/* border: .1em green solid; */
    margin:.5em auto;
/* 	margin-bottom:1em; */
/* 	padding:.1em; */
    width:90%;
}

.card_a_div{
    display:flex;
    justify-content:space-around;
    align-items:center;
/* 	flex-direction:column; */
/* 	border: .1em red solid; */
    margin:.1em;
    padding:.1em;
}

.card_a, .card_body_img{
/* 	border: .1em orange solid; */
    margin: .5em;
/* 	padding: .5em; */
    min-width:4em
}

.card_a{
/* 	border: .1em orange solid; */
    text-decoration:none;
/* 	padding:0; */
    border-bottom: 1px solid black;
}
.card_footer_div{
    border-top: 1px solid black;
    min-height:2.5em;
/* 	max-height:2em; */
    display:flex;
    align-items:center;
}
.card_unordered_list{
    list-style-type:none;
/* 	border: .1em green solid; */
    margin:0 auto;
    width:90%;
    padding:0;
    display:flex;
    flex-wrap:wrap;
    justify-content: space-around;
}

.card_list_item{
/* 	display:inline; */
    padding:.1em;
/* 	border: .1em red solid; */
}





/* 8888888888888888888888888888888888888888888888888888888 */
/* 888888888888 Project card     above     888888888888888 */
/* 8888888888888888888888888888888888888888888888888888888 */






/* Connect With Me section Desktop */

/* Connect With Me section Desktop */

/* NOTE:/TODO: should this #connect_with_me selector be all by itself? rather, should it be removed or should there be a class for all sections?*/

#connect_with_me {
    height: 18em;
}

#connect_with_me_div {
    /* background-color: lightsalmon; */
    display: flex;
    justify-content: space-around;
    margin-top: 3em;
    /* height: 100%; */
    /* max-width: 100px;
    width: auto; */
    /* background-color: lightseagreen; */
    /* background: lightseagreen; */
    /* width: 100px;
    height: 100px; */
}

/* editing below */
#myContainer{
    /* margin:.1em; */
    /* border: 1px solid brown; */
    display: flex;
    justify-content: center;
}
#myContainer span{
    /* margin:.3em; */
    /* border: 1px solid red; */
    width: 100%;
}
#span_left {
    /* margin:.3em; */
    /* padding: .3em; */
    /* border: 1px solid chartreuse; */
    display:flex; 
    justify-content:flex-end; 
}
#span_right {
    /* margin:.3em; */
    /* padding: .3em; */
    /* border: 1px solid black; */
    display:flex; 
    justify-content:flex-start; 
}
#span_left h2{
    /* margin-right:2em; */
    /* border: 1px solid green; */
    /* display:flex; 
    justify-content:flex-end;  */
}
#span_right h2{
    margin-left:.3em;
    /* border: 1px solid blue; */
    /* display:flex; 
    justify-content:flex-start;  */
}

/* editing below */

.connect_with_me_img {
    max-width: 3em;
    width: auto;
    /* max-width: 25px; */
    /* background-color: pink; */
}

/* Footer Desktop                  */

/* Footer Desktop                  */

footer {
    /* max-height: 10px; */
    min-height: 1.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid red;
}

#copyright {
    /* border-top: 5px solid red; */
    /* background: silver; */
    /* font-size: 1em; */
}

/* For the site is under construction image */

#construction_div {
    /* border: 1px solid black; */
    margin: 0 auto;
    max-width: 50%;
    text-align: center;
    /* display: inline; */
}

#construction {
    display: block;
    max-width: 30%;
    /* max-height: 10%; */
    /* border: 1px solid blue; */
    margin: 0 auto;
}

/* Resources Page                       */

#list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.resource_div {
    max-width: 50%;
    min-width: 40%;
    /* border: 1px solid blue; */
}

.resource_title {
    text-align: center;
}

/* ***************************************** */

/* styles below for contact_form_style.html  */

/* ***************************************** */

form {
    width: 75%;
    margin: 0 auto;
    /* background: lightpink; */
}

#one {
    /* background: lightpink; */
}

#contact_me_section_div{
    margin: 3em 0 0 0;
}

#form_input_div {
    display: flex;
    justify-content: space-around;
    margin: 1em 0;
    /* background: lightblue; */
}

textarea {
    width: 100%;
    min-height: 8em;
    /* background: lightpink; */
}

button {
    /* width: 800px; */
    width: 100%;
    height: 3em;
}

.thankyou_message {
    text-align: center;
    /* background: lightpink; */
}

/* ***************************************** */

/* styles above for contact_form_style.html  */

/* ***************************************** */

/* TABLET                          */

/* Header Tablet                   */

/* Bio section Tablet              */

/* Projects section Tablet         */

/* Connect With Me section Tablet  */

/* Footer Tablet                   */

/* MOBILE                          */

/* Header Mobile                   */

/* Bio section Mobile              */

/* Projects section Mobile         */

/* Connect With Me section Mobile  */

/* Footer Mobile                   */